<mt:setvarblock name="page_title"><__trans phrase="FileList"></mt:setvarblock>
<mt:include name="include/header.tmpl">

<span>
    <pre>
<mt:var name="file_list_file_text" encode_html="1" >
</pre>
</span>


<mt:include name="include/footer.tmpl">
